h1{
	text-align: center;
}


td{
	width: 100px;
	height: 100px;

}

table{
	margin: 0 auto 0 auto;
}

#R1C2{
	border-left: solid;
	border-right: solid;
}

#R2C2{
	border-left: solid;
	border-right: solid;
}

#R3C2{
	border-left: solid;
	border-right: solid;
}

#R2C1{
	border-top: solid;
	border-bottom: solid;
}

#R2C2{
	border-top: solid;
	border-bottom: solid;
}

#R2C3{
	border-top: solid;
	border-bottom: solid;
}
}